@model ProductDTO
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barkodlu Mağaza Sistemi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Barkodlu Mağaza Sistemi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">İşlem Sayfası</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="SignIn">Çıkış Yap</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
<div class="container">
    <form asp-action="GetByBarcodeProduct" asp-controller="Product" method="get">
        <input asp-for="Barcode" type="text" class="form-control" autofocus autocomplete="off"/>
        <center><button type="submit" class="btn btn-primary" style="margin-top:20px;">Ürün Sorgulama</button></center>
        
    </form>
</div>
<div class="container">
    @if (Model.Barcode != null)
    {
        <table class="table table-striped table-sm" style="margin-top:25px;">
            <thead>
                <tr>
                    <th scope="col">Stok Miktarı (Adet)</th>
                    <th scope="col">Ürün Adı</th>
                    <th scope="col">Renk</th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Model</th>
                    <th scope="col">Beden</th>
                    <th scope="col">Alış Fiyatı</th>
                    <th scope="col">Satış Fiyatı</th>
                    <th scope="col">Ürün Kodu</th>
                    <th scope="col">Eklenme Tarihi</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ProductStockDTO.StockAmount</td>
                    <td>@Model.Description</td>
                    <td>@Model.ProductColorDTO.Name</td>
                    <td>@Model.ProductCategoryDTO.Name</td>
                    <td>@Model.ProductModelDTO.Name</td>
                    <td>@Model.ProductSizeDTO.Name</td>
                    <td>@Model.PurchasePrice TL</td>
                    <td>@Model.UnitPrice TL</td>
                    <td>@Model.ProductCode</td>
                    <td>@Model.InsertedDate</td>                    
                    <a asp-action="EditProduct" asp-route-id="@Model.Id"><button class="btn btn-success">Ürünü Güncelle</button></a>
                    <a asp-action="DeleteProduct" asp-route-id="@Model.Id"><button class="btn btn-warning" style="margin-left:25px;">Ürünü Sil</button></a>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    }
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Barkodlu Mağaza Sistemi - <a>Hasan Hüseyin ÇALILI</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
